include:
  - docker-compose.yaml
version: "3.4"
services:
  portainer:
    image: portainer/portainer-ce:latest     
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "9001:9000"
